<h5>Cadastro de Contas</h5>
<hr />

<div *ngIf="message" class="alert alert-success" role="alert">
    <strong>Sucesso!</strong> {{message}}
</div>

<form [formGroup]="formCadastro" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="row">
        <div class="col-md-6">

            <label>Nome da Conta:</label>
            <input type="text" formControlName="nome" class="form-control" />

            <div *ngIf="form.nome.touched && form.nome.invalid" class="text-danger">
                <span *ngIf="form.nome.errors.required">
                    Por favor, informe o nome da conta.
                </span>
                <span *ngIf="form.nome.errors.minlength">
                    Por favor, informe no minimo 6 caracteres.
                </span>
                <span *ngIf="form.nome.errors.maxlength">
                    Por favor, informe no máximo 150 caracteres.
                </span>
            </div>

        </div>

        <div class="col-md-3">

            <label>Valor da Conta:</label>
            <input type="text" formControlName="valor" class="form-control" />

            <div *ngIf="form.valor.touched && form.valor.invalid" class="text-danger">
                <span *ngIf="form.valor.errors.required">
                    Por favor, informe o valor da conta.
                </span>
            </div>

        </div>

        <div class="col-md-3">

            <label>Tipo da Conta:</label>
            <select formControlName="tipo" class="form-select">
                <option value="">Escolha uma opção</option>
                <option value="1">Débito</option>
                <option value="2">Crédito</option>
            </select>

            <div *ngIf="form.tipo.touched && form.tipo.invalid" class="text-danger">
                <span *ngIf="form.tipo.errors.required">
                    Por favor, selecione o tipo da conta.
                </span>
            </div>

        </div>

    </div>

    <div class="row mt-3">
        <div class="col-md-12">

            <input type="submit" value="Cadastrar Conta" class="btn btn-success" [disabled]="!formCadastro.valid" />

        </div>
    </div>

</form>
